.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-grow: 4;
}
  
.card {
    flex: 0 0 auto;
}

.menu-flexbox-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.button-div-style {
    flex-grow: 1;
    margin-bottom: 20px;
}